extends default
include ../mixins/mixins
block content
  .h1 An 
    strike Overly
    |  Opinionated Growth Blog
  .container
      .row
        each post in collections.posts
            .col-sm
                +card(post)

