doctype html
//- Import mixins here to use globally
include ../mixins/mixins.pug
html(lang="en")
	head
		title Page
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		link(rel="icon" href="/media/favicon.ico" type="image/x-icon")
		link( rel='icon', href='/media/favicon.ico', type='image/x-icon' )
		link( rel='stylesheet', href='/assets/css/base.css' )
		link( rel='stylesheet', href='/assets/css/style.css' )
		script(src='/assets/components/sidebar/js/jquery-3.1.1.min.js')
		script(src='/assets/components/base/core.min.js')
		script(src='/assets/components/base/script.js')
		script(src='/assets/vendor/jquery-ui.min.js')

	body
		.wrapper
			include ../partials/navbar.pug
			.page
				.content
					nav.navbar.navbar-expand-lg.navbar-light.bg-dark
					.container-fluid
					block content
						| !{content}
					include ../content/getintouch.pug
					include ../partials/footerscripts.html
	
