/* ------------------------------------------------------------ *\
  Vendor
\* ------------------------------------------------------------ */

//@import '~vendor-name/vendor.scss/css';

/* ------------------------------------------------------------ *\
	Generic
\* ------------------------------------------------------------ */


/* ------------------------------------------------------------ *\
	Overwrites
\* ------------------------------------------------------------ */

//@import 'overwrites/';
.hide,
.cloak div,
.cloak span,
.likert.cloak tbody,
.likert.cloak thead {
    display: none !important
}

button#saveForm {
    margin-left: 10px;
}

.row {
    margin-right: -50px !important;
    margin-left: -50px !important;
}

.full-post-contents {
    margin-top: 75px;
}

h1.posttitle {
    margin: 50px;
}

.post-meta {
    margin: 50px;
}

.author-meta {
    margin-left: 50px;
}

input[type="submit"] {
    background: #6c5ba7;
    font-family: 'Oswald', sans-serif;
    margin-left: 20px !important;
}

input#mc-embedded-subscribe {
    margin-left: 20px;
}

input#mc-embedded-subscribe {
    margin-left: 20px !important;
}

.post-meta {
    margin: 0 !important;
}

.neubtn {
    padding: 15px !important;
}

.relative {
    position: relative !important;
}

.swirlone {
    background-position-x: 0;
    background-size: 100% 100%;
    z-index: -1;
    opacity: .7;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    position: absolute !important;
    background-repeat: repeat-y;
}

$bg-gradient: 333.76deg,
#26272B 22.72%,
#34393F 89.31%;
$light-text-on-dark-bg: #efefef;
$purple: #6c5ba7;
#6c5ba7: $purple;
$bold: 300;
$darkchosenone: darken(#6c5ba7, 10%);
.iconbox:hover,
.iconbox:focus {
    box-shadow: none !important;
}

.fancy-box-travel .fancy-box-time {
    font-weight: 300;
}

@mixin border-box {
    //  border: 1px solid #ffffff;
    //   box-sizing: border-box;
    //   -moz-box-sizing: border-box;
    //    -webkit-box-sizing: border-box;
}

@mixin border-box-alt {
    border: 1px solid $purple;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.strokeyhover:hover {
    border: 1px solid #6c5ba7 !important;
}

.strokeyhover:focus {
    border: none !important;
}

.strokeyhover:active {
    border: none !important;
}

@mixin bg-grad {
    background: radial-gradient(54.85% 46.25% at 50% 50%, #373A42 0%, #000000 100%);
    @include bg-size-cover;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    color: $light-text-on-dark-bg;
}

@mixin hovers {
    &:hover {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    &:hover::after {
        opacity: 1;
    }
}

@mixin transition {
    -moz-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@mixin bg-size-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin neu-dark-bg {
    @include bg-grad;
    @include bg-size-cover;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    color: $light-text-on-dark-bg;
    font-family: 'Raleway';
    font-weight: 100;
}

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
    @if $self {
        &,
        &:hover,
        &:active,
        &:focus {
            @content;
        }
    }
    @else {
        &:hover,
        &:active,
        &:focus {
            @content;
        }
    }
}

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: ( 'small': 320px, 'medium': 768px, 'large': 1024px, );
@mixin media($media) {
    @media all and (max-width: #{map-get($breakpoints,#{$media})
}

) {
    @content
}


}
@mixin media-width($media-width) {
    @media all and (max-width: #{$media-width}px) {
        @content
    }
}
@mixin transition($time) {
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    -ms-transition: all $time ease;
    -o-transition: all $time ease;
    transition: all $time ease;
}
@mixin scale($scale) {
    -webkit-transform: ($scale);
    -moz-transform: ($scale);
    -ms-transform: ($scale);
    -o-transform: ($scale);
    transform: ($scale);
}
@mixin transform($xtime,
$ytime) {
    transform: translate(#{$xtime},
    #{$ytime});
    -moz-transform: translate(#{$xtime},
    #{$ytime});
    -webkit-transform: translate(#{$xtime},
    #{$ytime});
    -o-transform: translate(#{$xtime},
    #{$ytime});
}
@mixin transformX($time) {
    transform: translateX(#{$time});
    -moz-transform: translateX(#{$time});
    -webkit-transform: translateX(#{$time});
    -o-transform: translateX(#{$time});
}
@mixin transformY($time) {
    transform: translateY(#{$time});
    -moz-transform: translateY(#{$time});
    -webkit-transform: translateY(#{$time});
    -o-transform: translateY(#{$time});
}
@mixin font($name,
$weight:400) {
    font-family: #{$name};
    font-weight: #{$weight};
}
.bordered-text {
    padding-left: 30px;
    border-radius: 50em;
    padding-right: 60px;
    .white {
        border: 1px solid #ffffff;
    }
    
    .purple {
        border: 1px solid $purple;
    }
}
@mixin bg-grad {
    -moz-background: $bg-gradient;
}
@mixin transition {
    -moz-transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@mixin bg-size-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@mixin neu-dark-bg {
    @include bg-grad;
    @include bg-size-cover;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    color: $light-text-on-dark-bg;
    font-family: 'Raleway';
    font-weight: 100;
}
::selection {
    color: #6c5ba7;
    background: #212121;
}
body {
    min-height: 100%;
    @include bg-grad;
    @include bg-size-cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $light-text-on-dark-bg;
    font-family: 'Raleway';
    font-weight: 100;
}
strong {
    font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Oswald';
}
.greedy-nav {
    background-color: transparent;
}
.mb-120 {
    margin-bottom: 120px;
}
.gimme-some-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.gimme-some-20h {
    margin-left: 20px;
    margin-right: 20px;
}
.gimmesomeroom {
    margin-top: 20px;
    margin-bottom: 20px;
}
.neu-dark-bg {
    min-height: 100%;
    @include bg-grad;
    @include bg-size-cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $light-text-on-dark-bg;
    font-family: 'Raleway';
    font-weight: 100;
}
.neubutton,
.btn {
    background: linear-gradient(128.11deg, #26272B 6.67%, #34393F 97.78%);
    box-shadow: 1px 1px 5px #0D0E0F, -3px -3px 9px #353B42, inset 1px 1px 9px #2D2E35;
    border-radius: 40px;
    width: fit-content;
    width: -moz-fit-content;
    color: #fff !important;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    @include transition;
    position: relative;
    z-index: 9;
}
.neubutton::after,
.btn::after {
    content: "";
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: fit-content;
    background: linear-gradient(137.63deg, #26272B 9.53%, #34393F 95.92%);
    box-shadow: inset 2px 2px 6px #0D0E0F, inset -2px -2px 3px #40464E;
    border-radius: 40px;
    opacity: 0;
    text-decoration: none !important;
    z-index: 99;
    font-family: 'Raleway' !important;
    font-weight: 100 !important;
}
.btn:hover,
.btn:focus,
.btn:active,
.neubutton:hover,
button:focus,
.neubutton:focus {
    -webkit-transform: scale(1, 1);
    text-decoration: none !important;
    transform: scale(1, 1);
}
.neubutton::after:hover,
.btn::after:hover,
.btn::after:active,
.btn::after:focus .neubutton::after:active,
.neubutton::after:focus {
    opacity: 1 !important;
    -webkit-transform: scale(1, 1);
    text-decoration: none !important;
    transform: scale(1, 1);
}
a {
    text-decoration: none !important;
}
a:hover {
    text-decoration: none !important;
}
p.white-text {
    text-decoration: none !important;
}
p.whitetext {
    text-decoration: none !important;
}
.neubutton.alt::after {
    content: "";
    border-radius: 20px;
    color: #fff;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 3px 3px 10px #0D0E0F, inset -3px -3px 10px #40464E;
    opacity: 0;
    @include transition;
    text-decoration: none !important;
    background: linear-gradient(130.46deg, #2E1A47 12.58%, #6c5ba7 89.78%);
}
.neuicon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.5) !important;
}
.text-chosen {
    color: #6c5ba7;
    font-weight: $bold;
}
.neuicon-holder-small {
    width: 35px;
    height: 35px;
}
.neuicon-holder-medium {
    width: 50px;
    height: 50px;
}
.neuicon-holder-large {
    width: 75px;
    height: 75px;
}
@mixin neumorphic {
    text-align: center;
    opacity: 1;
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #0D0E0F, -3px -3px 9px #353B42, inset 1px 1px 9px #2D2E35;
    background: linear-gradient(128.11deg, #26272B 6.67%, #34393F 97.78%);
    @include transition;
}
.neuicon {
    text-align: center;
    opacity: 1;
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #0D0E0F, -3px -3px 9px #353B42, inset 1px 1px 9px #2D2E35;
    background: linear-gradient(128.11deg, #26272B 6.67%, #34393F 97.78%);
    @include transition;
}
.neuicon::after {
    content: "";
    border-radius: 20px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 3px 3px 10px #0D0E0F, inset -3px -3px 10px #40464E;
    opacity: 0;
    background: linear-gradient(137.63deg, #26272B 9.53%, #34393F 95.92%);
    @include transition;
}
.neuicon.alt::after {
    content: "";
    border-radius: 20px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 3px 3px 10px #0D0E0F, inset -3px -3px 10px #40464E;
    opacity: 0;
    @include transition;
    background: linear-gradient(130.46deg, #2E1A47 12.58%, #6c5ba7 89.78%);
}
.neuicon.altalt::after {
    content: "";
    border-radius: 20px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    @include transition;
    box-shadow: 4px 3px 19px #0D0F0F, -5px -5px 20px #404E4A, inset 1px 1px 7px #6c5ba7;
}
.neuicon:hover::after {
    opacity: 1;
}
.neuicon:hover {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.neuicon:hover::after {
    opacity: 1;
}
.neubutton {}
.neubutton::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(165.64deg, #26272B 9.53%, #34393F 95.92%);
    box-shadow: inset 3px 3px 10px #0D0E0F, inset -3px -3px 10px #40464E;
    border-radius: 40px;
    @include transition;
}
.neubutton.alt::after {
    content: "";
    border-radius: 40px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    @include transition;
    box-sizing: border-box;
    box-shadow: inset 3px 3px 10px #0D0E0F, inset -3px -3px 10px #40464E;
    background: linear-gradient(130.46deg, #2E1A47 12.58%, #6c5ba7 89.78%);
}
textarea,
input {
    font-weight: 100;
    border: 0;
    border-radius: 40px;
    width: 100%;
    color: #fff;
    padding: 15px;
    background: linear-gradient(149.55deg, #26272B 9.53%, #34393F 95.92%);
    box-shadow: inset 3px 3px 10px #0D0E0F, inset -3px -3px 10px #40464E;
}
.neubutton:hover::after {
    opacity: 1;
}
.neubutton:hover {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.neubutton:hover::after {
    opacity: 1;
}
.neumorphic {
    margin: 20px;
    background-attachment: fixed;
    position: relative;
    display: inline-block;
    padding: 25px;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    box-shadow: 1px 1px 5px #0D0E0F, -3px -3px 9px #353B42, inset 1px 1px 9px #2D2E35;
    background: linear-gradient(128.11deg, #26272B 6.67%, #34393F 97.78%);
    @include transition;
}
.fancy-box-image:hover {
    backdrop-filter: grayscale(0.5) opacity(0.8)
    /* ...and on and on... */
    
    ;
}
.neumorphic::after {
    border-radius: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-attachment: fixed;
    background: linear-gradient(165.64deg, #26272B 9.53%, #34393F 95.92%);
    box-shadow: inset 3px 3px 10px #0D0E0F, inset -3px -3px 10px #40464E;
    @include transition;
}
.neumorphic:hover {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.neumorphic:hover::after {
    opacity: 1;
}
.neuradius {
    border-radius: 40px !important;
}
.neustyle {
    border-radius: 40px !important;
    box-shadow: 1px 1px 5px #0D0E0F, -3px -3px 9px #353B42, inset 1px 1px 9px #2D2E35;
    background-attachment: fixed;
    background: linear-gradient(128.11deg, #26272B 6.67%, #34393F 97.78%);
    @include transition;
}
.neustyle::after {
    content: "";
    border-radius: 40px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(165.64deg, #26272B 9.53%, #34393F 95.92%);
    background-attachment: fixed;
    box-shadow: inset 3px 3px 10px #0D0E0F, inset -3px -3px 10px #40464E;
    opacity: 0;
    @include transition;
}
.neustyle:hover {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.neustyle:hover::after {
    opacity: 1;
}
.accordion-title-bordered .accordion-title a {
    color: #ffffff;
}
.accordion-title-bordered .accordion-title .active a {
    color: #6c5ba7;
}
.post-full-content li {
    margin-left: 6%;
}
@import 'generic/variables';
@import 'generic/functions';
@import 'generic/mixins';
@import 'generic/reset';
@import 'generic/fonts';
@import 'generic/base';
@import 'generic/helpers';

/* ------------------------------------------------------------ *\
	Components
\* ------------------------------------------------------------ */
@import 'components/accordion';
@import 'components/animation';
@import 'components/bar';
@import 'components/block';
@import 'components/box';
@import 'components/box-different';
@import 'components/btn';
@import 'components/btn-dark';
@import 'components/btn-round';
@import 'components/btn-small';
@import 'components/checkbox';
@import 'components/checkbox-alt';
@import 'components/checkbox-different';
@import 'components/components';
@import 'components/dropdown';
@import 'components/field';
@import 'components/footer';
@import 'components/grid';
@import 'components/header';
@import 'components/icons';
@import 'components/item';
@import 'components/logo';
@import 'components/main';
@import 'components/nav-trigger';
@import 'components/panel';
@import 'components/pp-section';
@import 'components/radio';
@import 'components/radio-alt';
@import 'components/radio-group';
@import 'components/range-slider';
@import 'components/range-slider-alt';
@import 'components/section';
@import 'components/section-about';
@import 'components/select';
@import 'components/shell';
@import 'components/slider';
@import 'components/switch';
@import 'components/tab';
@import 'components/tabs';
@import 'components/tag';
@import 'components/wrapper';
@import 'components/nav';
@import '../neu';
@import '../neucards';
@import '../faq';
button.owl-dot.active {
    @include neumorphic;
}
.carousel-dots .owl-dots .owl-dot.active {
    @include neumorphic;
}