/* ------------------------------------------------------------ *\
	Nav Trigger
\* ------------------------------------------------------------ */

.nav-trigger {
	min-width: 60px;
	min-height: 58px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	transition: background .3s, box-shadow .3s, border .3s;

	@include breakpoint-down(mobile) {
display: none;
	}

	.nav-trigger__icon {
		position: relative;
		min-height: 53px;
		min-width: 56px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 9px;
		background: linear-gradient(128.11deg, #26272B 6.67%, #34393F 97.78%);


		/* iconstyle */

		box-shadow: 1px 1px 5px #0D0E0F, -3px -3px 9px #353B42, inset 1px 1px 9px #2D2E35;
		transition: all ease-in-out 3s;
		}

	&:hover {
		border-color: transparent;
	}

	&:hover .nav-trigger__icon {
		background: linear-gradient(170.79deg, #26272B 9.53%, #34393F 95.92%) !important;
		box-shadow: inset 2px 2px 6px #0D0E0F, inset -2px -2px 3px #40464E !important;	}

	span {
		position: absolute;
		display: block;
		height: 3px;
		width: 42px;
		border-radius: 4px;
		background: rgba(255, 255, 255, 0.35);
		transition: top .2s .25s, opacity .2s .25s, transform .2s 0s;

		&:nth-child(1) {
			top: 20px;
		}

		&:nth-child(2) {
			top: 30px;
		}
	}
}
