/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav {
	padding: 24px 0 20px;
	color: $c-white;
	display: none;
	z-index: 999999;

	@include breakpoint-down(mobile) {
		width: calc(100% - 153px);
		padding: 0 0 0 0px;
		display: inline-block;

	}
	.strokemysvg:hover {
		opacity: 1;
	}
	a {
		display: block;
		text-decoration: none;
	}

	ul {
		@include breakpoint-down(mobile) {
			display: flex;
			align-items: center;
			padding: 0 0 0 0;
		}
	}

	.nav__icon {
		min-width: 60px;
		min-height: 60px;
		margin-bottom: 19px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: 15px;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		color: #ffffff !important;
		background: linear-gradient(128.11deg, #26272B 6.67%, #34393F 97.78%);


						/* iconstyle */
		
						box-shadow: 1px 1px 5px #0D0E0F, -3px -3px 9px #353B42, inset 1px 1px 9px #2D2E35;
						transition: all ease-in-out 3s;

		&:hover {
			background: linear-gradient(170.79deg, #26272B 9.53%, #34393F 95.92%) !important;
			box-shadow: inset 2px 2px 6px #0D0E0F, inset -2px -2px 3px #40464E !important;
		}

		&:hover .nav__icon-inner {
			
		}

		 @include breakpoint-down(mobile) {
			 margin-bottom: 0;
			 margin-left: 20px;
		 }
	}
	

	.nav__icon-inner {
		min-height: 58px;
		min-width: 58px;
		border-radius: 15px;
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		border-radius: 9px;
		color: #ffffff !important;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		transition: background .3s, box-shadow .3s;
	}

	li + li {
		margin-top: 22px;
		@include breakpoint-down(mobile) {
			margin-top: 0;
		}
	}

	li.active {
		.nav__icon {
			min-width: 60px;
		min-height: 60px;
		
			display: flex;
			border: 3px solid #6c5ba7;
			justify-content: center;
			align-items: center;
		
			border-radius: 15px;
			background: linear-gradient(170.79deg, #26272B 9.53%, #34393F 95.92%) !important;
			box-shadow: inset 2px 2px 6px #0D0E0F, inset -2px -2px 3px #40464E !important;
		}
		.nav__icon-inner {
			background: #6C5BA7;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 15px;
			box-shadow: inset 3px 3px 10px #0D0E0F, inset -3px -3px 10px #40464E;
		}
	}
}

.nav ul {
	padding-right: 0em !important;
	padding-left: 0em !important;

}
.nav li {
	color: #ffffff !important;
    margin: 15px 0px 15px 0px;
	padding: 5px 0px 5px 0px;
	
	@include breakpoint-down(mobile) {


	color: #ffffff !important;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}}

.nav li a {
	color: #ffffff !important;
}
a:hover {
    text-decoration: none;

}
a.text-white:hover {
    text-decoration: none;
}