/* ------------------------------------------------------------ *\
  Vendor
\* ------------------------------------------------------------ */

//@import '~vendor-name/vendor.scss/css';

/* ------------------------------------------------------------ *\
	Generic
\* ------------------------------------------------------------ */

@import 'generic/variables';
@import 'generic/functions';
@import 'generic/mixins';
@import 'generic/reset';
@import 'generic/helpers';

/* ------------------------------------------------------------ *\
	Components
\* ------------------------------------------------------------ */



/* ------------------------------------------------------------ *\
	Overwrites
\* ------------------------------------------------------------ */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald');

/* ------------------------------------------------------------ *\
	Generic
\* ------------------------------------------------------------ */


/*
@import 'generic/base';*/



/* ------------------------------------------------------------ *\
	Components
\* ------------------------------------------------------------ */

@import "components/accordion";
@import "components/animation";
@import "components/bar";
@import "components/box-different";
@import "components/btn-dark";
@import "components/btn-round";
@import "components/btn-small";
@import "components/btn";
@import "components/checkbox-alt";
@import "components/checkbox-different";
@import "components/checkbox";
@import "components/components";
@import "components/dropdown";
@import "components/field";
@import "components/footer";
@import "components/header";
@import "components/icons";
@import "components/item";
/*@import "components/logo";
@import "components/main";*/
@import "components/panel";

@import "components/pp-section";
@import "components/radio-alt";
@import "components/radio-group";
@import "components/radio";
@import "components/range-slider-alt";
@import "components/range-slider";
@import "components/section-about";
/*@import "components/section";*/
@import "components/select";
@import "components/shell";
@import "components/slider";
@import "components/switch";

@import "components/tag";
/*@import "components/wrapper";*/
li.tiny-text.text-left.left-text.targetme {
    padding: 0px !important;
    margin: 0px !important;
    line-height: 2 !important;
    text-align: left !important;
}
.components .components__row {
    margin: 20px 0;
}
@mixin neuneubg {
background: linear-gradient(0deg, #121212, #212121), url('/media/img/texture.webp');
background-attachment: fixed;
background-size: cover;
background-blend-mode: normal, luminosity;
/* mbtiblockstroke */

border: 2px solid #121212;
/* mbtieffect */

box-shadow: -5px -5px 20px #000000, 3px 3px 10px #212121;
}
.wrapper {
  @include neuneubg;
}

.minineucardcontainer, .neucardcontainer {
    background-image: linear-gradient(135deg, #333333 0%, #212121 49%, #121212 100%), linear-gradient(139deg, #333333 1%, #212121 45%, #121212 75%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    box-shadow: 1.875rem 1.5625rem 1.375rem rgba(21, 22, 24, 0.24), -4px -4px 15px rgba(195, 200, 205, 0.04);
}
.nav__cont {
  position: fixed;
  width: 60px;
  top:0;
  height: 100vh;
  z-index: 100;
  @include neuneubg;
  overflow:hidden;
  transition:width .3s ease;
  cursor:pointer;
  &:hover {
    width:200px;
  }
  @media screen and (min-width: 600px) {
    width: 80px;
  }
}

.nav {
  list-style-type: none;
  color:white;
  &:first-child {
    padding-top:1.5rem;
  }
}

.nav__items {
  padding-bottom:4rem;
  font-family: 'Oswald';
  text-transform: uppercase;
   a {
    position: relative;
    display:block;
    top:-35px;
    padding-left:25px;
    padding-right:15px;
    transition:all .3s ease;
    margin-left:65px;
    margin-right:10px;
    text-decoration: none;
    color:white;
    font-weight: 500 !important;
    font-size: 1.35em;
     &:after {
       content:'';
       width: 100%;
       height: 100%;
       position: absolute;
       top:0;
       left:0;
       border-radius:2px;
       background:radial-gradient(circle at 94.02% 88.03%, #6c5ba7, transparent 100%);
       opacity:0;
       transition:all .5s ease;
       z-index: -10;
     }
  }
  &:hover a:after {
    opacity:1;
  }
   svg{
    width:26px;
    height:26px;
    position: relative;
    left:-25px;
    cursor:pointer;
    @media screen and(min-width:600px) {
      width:32px;
    height:32px;
left:-15px;
    }
  }
}
