/* ------------------------------------------------------------ *\
	Dropdown
\* ------------------------------------------------------------ */
li.tiny-text.text-left.left-text.targetme {
    padding: 0px !important;
}
li.tiny-text.text-left.left-text.targetme {
    padding-bottom: 0px !important;
}
.fontsbtn a {

    font-family: 'Oswald' !important;
    text-transform: uppercase !important;
    font-weight: 500  !important;
    color: #ffffff !important;
}
.components {
    margin-top: -15px;
}
.dropdown {
	position: relative;
	width: 90% !important;
	border-radius: 20px;
	/*background: linear-gradient(168.23deg, #26272B 12.58%, #34393F 93.19%); */
	color: $c-white;
	/*box-shadow: 4px 3px 19px #0D0E0F, -5px -5px 20px #40464E; */
	font-size: 20px;

	@include breakpoint-down(mobile) {
		width: 250px;
	}

	> a {
		position: relative;
		display: block;
		font-weight: 400;
		text-decoration: none;

		&:before {
			content: "";
    position: absolute;
    top: 25px;
    right: 8px;
    width: 10px;
    height: 14px;
    transform: rotate(-180deg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
			background-image: url('./../../../media/img/icon/chevron.svg');
		}
	}

	> ul {
		display: none;
		padding-bottom: 28px;
		text-decoration: none;
		list-style-type: none;
	}

	> ul > li + li {
		margin-top: 24px;
	}

	> ul > li > a {
		display: block;
		font-weight: 300;
		text-decoration: none;
		transition: color .3s;

		&:hover {
			color: #6C5BA7;
		}
	}
}

/* ------------------------------------------------------------ *\
	Dropdown
\* ------------------------------------------------------------ */
.super-small-btn {
	max-width: 100%;
}
.dropdown {
	/*background: linear-gradient(168.23deg, #26272B 12.58%, #34393F 93.19%);
	box-shadow: 4px 3px 19px #0D0E0F, -5px -5px 20px #40464E;*/
	font-size: 1em !important;
	
}
.tiny-text {
	font-size: 1em !important;

}
.neudropdown {
	position: relative;
	width: 90% !important;
	border-radius: 20px;
	background: linear-gradient(168.23deg, #26272B 12.58%, #34393F 93.19%);
	color: $c-white;
	box-shadow: 4px 3px 19px #0D0E0F, -5px -5px 20px #40464E;
	font-size: 20px;

	@include breakpoint-down(mobile) {
		width: 250px;
	}

	> a {
		position: relative;
		display: block;
		font-weight: 400;
		text-decoration: none;

		&:before {
			content: "";
			position: absolute;
			top: 25px;
			right: 8px;
			width: 10px;
			height: 14px;
			transform: rotate(-180deg);
			background-repeat: no-repeat;
			background-position: right;
			background-size: contain;
					background-image: url('./../../../media/img/icon/chevron.svg');
		}
	}

	> ul {
		display: none;
		padding-bottom: 28px;
		text-decoration: none;
		list-style-type: none;
	}

	> ul > li + li {
		margin-top: 24px;
	}

	> ul > li > a {
		display: block;
		font-weight: 300;
		text-decoration: none;
		transition: color .3s;

		&:hover {
			color: #6C5BA7;
		}
	}
}
a.tiny-text.text-left.left-text.targetme {
    padding: 0px !important;
	margin: 0px !important;
	line-height: 2 !important;
}
li.tiny-text.text-left.left-text.targetme {
    padding: 0px !important;
	margin: 0px !important;
}