/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper {
	position: relative;
	min-height: 100vh;
	overflow: hidden;
	background: linear-gradient(0deg, #212121, #212121), url(shutterstock_1557104987.jpg);
	background-blend-mode: normal, luminosity;
}
