@mixin border-box {
    //  border: 1px solid #ffffff;
    //   box-sizing: border-box;
    //   -moz-box-sizing: border-box;
    //    -webkit-box-sizing: border-box;
}

@mixin border-box-alt {
    border: 1px solid $purple;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.strokeyhover:hover {
    border: 1px solid #6c5ba7 !important;
}

.strokeyhover:focus {
    border: none !important;
}

.strokeyhover:active {
    border: none !important;
}

@mixin bg-grad {
    background: radial-gradient(54.85% 46.25% at 50% 50%, #373A42 0%, #000000 100%);
    @include bg-size-cover;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    color: $light-text-on-dark-bg;
}

@mixin hovers {
    &:hover {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    &:hover::after {
        opacity: 1;
    }
}

@mixin transition {
    -moz-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@mixin bg-size-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin neu-dark-bg {
    @include bg-grad;
    @include bg-size-cover;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    color: $light-text-on-dark-bg;
    font-family: 'Raleway';
    font-weight: 100;
}

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
    @if $self {
        &,
        &:hover,
        &:active,
        &:focus {
            @content;
        }
    }
    @else {
        &:hover,
        &:active,
        &:focus {
            @content;
        }
    }
}

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: ( 'small': 320px, 'medium': 768px, 'large': 1024px, );
@mixin media($media) {
    @media all and (max-width: #{map-get($breakpoints,#{$media})
}

) {
    @content
}


}
@mixin media-width($media-width) {
    @media all and (max-width: #{$media-width}px) {
        @content
    }
}
@mixin transition($time) {
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    -ms-transition: all $time ease;
    -o-transition: all $time ease;
    transition: all $time ease;
}
@mixin scale($scale) {
    -webkit-transform: ($scale);
    -moz-transform: ($scale);
    -ms-transform: ($scale);
    -o-transform: ($scale);
    transform: ($scale);
}
@mixin transform($xtime,
$ytime) {
    transform: translate(#{$xtime},
    #{$ytime});
    -moz-transform: translate(#{$xtime},
    #{$ytime});
    -webkit-transform: translate(#{$xtime},
    #{$ytime});
    -o-transform: translate(#{$xtime},
    #{$ytime});
}
@mixin transformX($time) {
    transform: translateX(#{$time});
    -moz-transform: translateX(#{$time});
    -webkit-transform: translateX(#{$time});
    -o-transform: translateX(#{$time});
}
@mixin transformY($time) {
    transform: translateY(#{$time});
    -moz-transform: translateY(#{$time});
    -webkit-transform: translateY(#{$time});
    -o-transform: translateY(#{$time});
}
@mixin font($name,
$weight:400) {
    font-family: #{$name};
    font-weight: #{$weight};
}