$primary: #2B3033;
$secondary: #c2c2c2;
$white: #ffffff;
$black: #000000;
$black-pearl: #2B3033;
$black2: #2B3033;
$dark: #2b333a;
$dipdark: #2B3033;
$gray: #b1b1b1;
$lightgray: #2B3033;
$red: #6c5ba7;
$redhover: #a192d5;
$text: #d4d3d3;
$midgray: #191c1e;
$ash: #354048;
$ashGray: #2B3033;
$arsenic: #2B3033;
$black-pearl: #172027;
$border: #949494;
$border2: #c1c1c1;
$border3: #2b333a;
$sidebar-bg: #1f2a31;
$blog-bg: #1e262b;
$category: #f1f1f1;
$whisper: #e4e4e4;
$quoteborder: #304354;
// Fonts
$libre: 'Raleway', sans-serif;
$playfair: 'Raleway', serif;
$oswald: 'Oswald', sans-serif;
$sign: 'Raleway';
$lora: 'Raleway', sans-serif;
$roboto: 'Oswald', sans-serif;
