.grayscale {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 200ms ease-in-out;
}

.grayscale:hover {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    filter: grayscale(0);
}

.rd-navbar {
    position: relative;
    z-index: 14;
    color: #a0a1ac;
}

RalewayRaleway .rd-navbar li {
    list-style: none;
    font-family: 'Raleway';
}

.navbar-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 1;
    opacity: 1;
    visibility: visible;
    background: none;
    color: inherit;
    transition: .25s ease-in-out;
}

.navbar-button::before,
.navbar-button::after {
    position: absolute;
    transition: .25s, color 0s;
}

.navbar-button::before {
    transform: rotate(0) scale(1);
    opacity: 1;
}

.navbar-button::after {
    content: '\f24c';
    transform: rotate(90deg) scale(0);
    opacity: 0;
}

.navbar-button:hover {
    color: #6c5ba7;
}

.navbar-button.navbar-info-active::before,
.navbar-button.navbar-search-active::before,
.navbar-button.navbar-cart-active::before,
.navbar-button.active::before {
    transform: rotate(-90deg) scale(0);
    opacity: 0;
}

.navbar-button.navbar-info-active::after,
.navbar-button.navbar-search-active::after,
.navbar-button.navbar-cart-active::after,
.navbar-button.active::after {
    transform: rotate(0deg) scale(1);
    opacity: 1;
}

.navbar-logo-link {
    display: block;
    margin: 0;
}

@media (min-width: 1200px) {
    .navbar-logo-link {
        margin-top: -6px;
    }
}

@media (min-width: 1600px) {
    .navbar-logo-link {
        margin-top: -0.5208vw;
    }
}

.navbar-logo-default,
.navbar-logo-inverse {
    margin: 0;
}

.navbar-logo-inverse {
    display: none;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 200px;
    position: fixed !important;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    color: #fff;
    transition: all 0.3s;
    /* roundbuttonnooutline */
    overflow-x: hidden;
    text-transform: uppercase;
    background: linear-gradient(139.08deg, #353A40 10.44%, #121416 95.94%);
    border: 1px solid #2D2F34;
    box-shadow: 52px 20px 88px rgba(2, 3, 3, 0.5), -8px -16px 56px rgba(108, 91, 167, 0.14), inset -16px -6px 80px rgba(248, 249, 249, 0.03);
    border-radius: 20px;
    /* Note: backdrop-filter has minimal browser support */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 260%;
    /* or 42px */
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    /*border-bottom: 1px solid #47748b;*/
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li {
    filter: drop-shadow(-5px -5px 20px #40464E), drop-shadow(4px 3px 19px #0D0E0F);
    border-radius: 16px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}


/* effect-shine */

.effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%) !important;
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}

#sidebar ul li a:hover {
    background: #333333;
}

#sidebar ul li a {
    color: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    background: #333333;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #6c5ba7;
    background: #333333;
}

a.article,
a.article:hover {
    background: #6c5ba7 !important;
    background: #333333;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.page {
    width: calc(100% - 250px);
    padding: 40px;
    transition: all 0.3s;
    margin-left: calc(100% - calc(100% - 250px));
    min-height: 100vh;
}

.page.active {
    width: 100%;
    margin-left: 0;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    .page {
        width: 100%;
    }
    .page.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

.mCustomScrollBox {
    overflow: visible !important;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 200px;
    position: fixed !important;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    color: #fff;
    transition: all 0.3s;
    /* roundbuttonnooutline */
    overflow-x: hidden;
    text-transform: uppercase;
    background: linear-gradient(139.08deg, #353A40 10.44%, #121416 95.94%);
    border: 1px solid #2D2F34;
    box-shadow: 52px 20px 88px rgba(2, 3, 3, 0.5), -8px -16px 56px rgba(108, 91, 167, 0.14), inset -16px -6px 80px rgba(248, 249, 249, 0.03);
    border-radius: 20px;
    /* Note: backdrop-filter has minimal browser support */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 260%;
    /* or 42px */
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    /*border-bottom: 1px solid #47748b;*/
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li {
    filter: drop-shadow(-5px -5px 20px #40464E), drop-shadow(4px 3px 19px #0D0E0F);
    border-radius: 16px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}


/* effect-shine */

.effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%) !important;
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}

#sidebar ul li a:hover {
    background: #333333;
}

#sidebar ul li a {
    color: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}



ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #6c5ba7;
    background: #333333;
}

a.article,
a.article:hover {
    background: #6c5ba7 !important;
    background: #333333;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.page {
    width: calc(100% - 250px);
    padding: 40px;
    transition: all 0.3s;
    margin-left: calc(100% - calc(100% - 250px));
    min-height: 100vh;
}

.page.active {
    width: 100%;
    margin-left: 0;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    .page {
        width: 100%;
    }
    .page.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

.mCustomScrollBox {
    overflow: visible !important;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 200px;
    position: fixed !important;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    color: #fff;
    transition: all 0.3s;
    /* roundbuttonnooutline */
    overflow-x: hidden;
    text-transform: uppercase;
    background: linear-gradient(139.08deg, #353A40 10.44%, #121416 95.94%);
    border: 1px solid #2D2F34;
    box-shadow: 52px 20px 88px rgba(2, 3, 3, 0.5), -8px -16px 56px rgba(108, 91, 167, 0.14), inset -16px -6px 80px rgba(248, 249, 249, 0.03);
    border-radius: 20px;
    /* Note: backdrop-filter has minimal browser support */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 260%;
    padding: 15px;
    /* or 42px */
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    /*border-bottom: 1px solid #47748b;*/
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li {
    filter: drop-shadow(-5px -5px 20px #40464E), drop-shadow(4px 3px 19px #0D0E0F);
    border-radius: 16px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #fefefe !important;
}


/* effect-shine */

.effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%) !important;
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}

#sidebar ul li a:hover {
    background: #333333;
}

#sidebar ul li a {
    color: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #6c5ba7;
    background: #333333;
}

a.article,
a.article:hover {
    background: #6c5ba7 !important;
    background: #333333;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.page {
    width: calc(100% - 250px);
    padding: 40px;
    transition: all 0.3s;
    margin-left: calc(100% - calc(100% - 250px));
    min-height: 100vh;
}

.page.active {
    width: 100%;
    margin-left: 0;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    .page {
        width: 100%;
    }
    .page.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

.mCustomScrollBox {
    overflow: visible !important;
}

.icon-lg.icon-rect,
.icon-lg.icon-round,
.icon-lg.icon-circle {
    width: 5.75rem;
}

.swiper-modern .swiper-slide-active .blurb-boxed,
.swiper-modern .swiper-slide-next .blurb-boxed,
.swiper-modern .swiper-slide-next+.swiper-slide .blurb-boxed {
    min-height: 40vh;
}

.sidebar {
    padding: 20px;
    font-family: 'Josefin Sans' !important;
}

#sidebar {
    padding: 20px;
    font-family: 'Josefin Sans' !important;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 200px;
    position: fixed !important;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    color: #fff;
    transition: all 0.3s;
    /* roundbuttonnooutline */
    overflow-x: hidden;
    text-transform: uppercase;
    background: linear-gradient(139.08deg, #353A40 10.44%, #121416 95.94%);
    border: 1px solid #2D2F34;
    box-shadow: 52px 20px 88px rgba(2, 3, 3, 0.5), -8px -16px 56px rgba(108, 91, 167, 0.14), inset -16px -6px 80px rgba(248, 249, 249, 0.03);
    border-radius: 20px;
    /* Note: backdrop-filter has minimal browser support */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 260%;
    padding: 15px;
    /* or 42px */
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    /*border-bottom: 1px solid #47748b;*/
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li {
    filter: drop-shadow(-5px -5px 20px #40464E), drop-shadow(4px 3px 19px #0D0E0F);
    border-radius: 16px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #fefefe !important;
}


/* effect-shine */

.effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%) !important;
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}

#sidebar ul li a:hover {
    background: #333333;
}

#sidebar ul li a {
    color: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #6c5ba7;
    background: #333333;
}

a.article,
a.article:hover {
    background: #6c5ba7 !important;
    background: #333333;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.page {
    width: calc(100% - 250px);
    padding: 40px;
    transition: all 0.3s;
    margin-left: calc(100% - calc(100% - 250px));
    min-height: 100vh;
}

.page.active {
    width: 100%;
    margin-left: 0;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    .page {
        width: 100%;
    }
    .page.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

section#home {
    width: calc(100% - 175px) !important;
    margin-left: 175px !important;
}

.mCustomScrollBox {
    overflow: visible !important;
}

.icon-lg.icon-rect,
.icon-lg.icon-round,
.icon-lg.icon-circle {
    width: 5.75rem;
}

section#home {
    width: calc(100% - 250px) !important;
    margin-left: 250px !important;
}


/*# sourceMappingURL=rd-navbar.css.map */