---
pagination:
  data: collections.posts
  size: 6
  alias: posts
layout: base
addAllPagesToCollections: true
---
extends 11ty/_includes/layouts/default.pug
include 11ty/_includes/mixins/card.pug
block content
  .h1 An 
    strike Overly
    |  Opinionated Growth Blog
  .container
      .row
        each post in collections.posts
            .flex-column
                +card(post)