---
layout: base
---
block content
	include 11ty/_includes/content/home-swiper.pug
	include 11ty/_includes/content/home-about.pug
	include 11ty/_includes/content/home-stats.pug
	include 11ty/_includes/content/home-services.pug
	include 11ty/_includes/content/home-model.pug
	include 11ty/_includes/content/home-partners.pug
	include 11ty/_includes/content/home-pricing.pug
	include 11ty/_includes/content/home-whatpeoplesay.pug
