   <!-- jQuery CDN - Slim version (=without AJAX) -->
    <!-- Popper.JS -->
     <!-- Bootstrap JS -->



    		<script src='/assets/components/sidebar/js/bootstrap.min.js'> </script>
    <script type="text/javascript">

// ReadingTime(numberWordsPerMinute, readigTimeLabel, minutesLabel, wordsLabel, lessThanAMinuteLabel)
document.addEventListener('DOMContentLoaded', (event) => {
  new ReadingTime(270, 'Reading time:', 'min', 'words', 'Less than a minute');
})</script>

    <script src='/assets/js/readingtime.js'> </script>
