nav#sidebar
	.sidebar-header
		img.effect-shine(src="/media/img/logo-symbol-purple-white.svg" width="125" style="max-width:100%;width:150px")
	ul.list-unstyled.components
		each item in site.navigation
			li
				a(class="effect-shine site-nav-button" href=item.url) #{item.label}
		//each doc in collections.docs
		//	li
		//		a(class="effect-shine site-nav-button" href=doc.url) #{doc.title}
		a#toggler.dropdown-toggle(href="#pagesSubmenu" data-toggle="collapse" aria-expanded="true") Services
				.components
					.shell
						.components__row
							.dropdown
							a(href='#') Color
							ul
								li
									a(href='#') Red
								li
									a(href='#') Blue
								li
									a(href='#') Green			
								li Strategy
								li Branding
		ul#pagesSubmenu.collapse.list-unstyled
			li
				a Red
			li
				a Blue
		each post in collections.posts.slice(0,1)									
			li
				include mini-card.pug
