#sidebarMenu
  ul.sidebarMenuInner
    li
      | Jelena Jovanovic 
      span Web Developer
    li
      a(href='https://vanila.io', target='_blank') Company
    li
      a(href='https://instagram.com/plavookac', target='_blank') Instagram
    li
      a(href='https://twitter.com/plavookac', target='_blank') Twitter
    li
      a(href='https://www.youtube.com/channel/UCDfZM0IK6RBgud8HYGFXAJg', target='_blank') YouTube
    li
      a(href='https://www.linkedin.com/in/plavookac/', target='_blank') Linkedin
