<nav aria-labelledby="my-pagination">
  <ul>
    <li>{% if pagination.href.previous %}<div style="float: left; display: inline; width: 50px;" class="effect-shine btnfront"><a href="{{ pagination.href.previous }}">Previous</a></div>{% else %}Previous{% endif %}</li>
    <li>{% if pagination.href.next %}<div style="float: right; display: inline; width: 50px;" class="effect-shine btnfront"><a href="{{ pagination.href.next }}">Next</a></div>{% else %}Next{% endif %}</li>
  </ul>
</nav> 
