        <!-- tag section -->
        <div class="footer-tag owl-carousel owl-theme">
            <a href="#">
                <div class="single-tag" style="background: url('assets/img/tags/tag-1.jpg') no-repeat center center/cover;">
                    <div class="tag-name">
                        <h6>CULTURE</h6>
                        <p>15 Posts</p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="single-tag" style="background: url('assets/img/tags/tag-2.png') no-repeat center center/cover;">
                    <div class="tag-name">
                        <h6>DESIGN</h6>
                        <p>15 Posts</p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="single-tag" style="background: url('assets/img/tags/tag-3.png') no-repeat center center/cover;">
                    <div class="tag-name">
                        <h6>PHOTOGRAPHY</h6>
                        <p>15 Posts</p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="single-tag">
                    <div class="tag-name">
                        <h6>CREATIVE</h6>
                        <p>15 Posts</p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="single-tag" style="background: url('assets/img/tags/tag-4.png') no-repeat center center/cover;">
                    <div class="tag-name">
                        <h6>DEVEOLOPMENT</h6>
                        <p>15 Posts</p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="single-tag" style="background: url('assets/img/tags/tag-1.jpg') no-repeat center center/cover;">
                    <div class="tag-name">
                        <h6>CULTURE</h6>
                        <p>15 Posts</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- /tag section -->