section#about.section.section-lg
    .container
        h2.text-center Choose One
        .row.row-offset-lg.row-30.align-items-lg-center.justify-content-lg-between
            .col-lg-4.col-xl-3.justify-content-left.text-left
                .row.row-30.row-md-40.row-xl-50
                    .col-md-6.col-lg-12
                        // Blurb
                        article.blurb.blurb-lg-left.ml-xxl-1
                            .blurb-header
                                .blurb-embed
                                    img(src="media/img/icon/leads.svg" width="100")
                                .blurb-title.h5 You’re down to your last straw.
                            .blurb-text
                                | You have tried every "new idea" that's slithered across your desk and you're just… done with it. On any idle Thursday at 11PM, when you can’t sleep and can’t find a solution to your impossible growth challenge, we’re the resource you've always needed.
                    .col-lg-12.d-none.d-lg-block
                        hr.divider.mr-0(style="width: 60%")
                    .col-md-6.col-lg-12
                        // Blurb
                        article.blurb.blurb-lg-left.ml-xxl-1
                            .blurb-header
                                .blurb-embed
                                    img(src="media/img/icon/options.svg" width="100")
                                .blurb-title.h5 You've had it up to...
                            .blurb-text
                                | here with the "magical solution to all your marketing problems" line of crap you've been given. There is no magic pill, But, we can find the blend without wasting more dollars.
            .col-8.col-xs-7.col-md-6.col-lg-3.col-xl-4.text-left.order-first.order-lg-0.py-5.py-lg-0
                // Video
                .video
                    img.video-image(width="400" src="https://www.oakwave.com/assets/images/temp/image-5@2x.png?v=4689c492ac")
            .col-lg-4.col-xl-3.justify-content-right.text-right
                .row.row-30.row-md-40.row-xl-50
                    .col-md-6.col-lg-12
                        // Blurb
                        article.blurb.mr-xxl-1
                            .blurb-header
                                .blurb-embed
                                    img(src="media/img/icon/doom.svg" width="100")
                                .blurb-title.h5 You need a lifeline. 
                            .blurb-text
                                | You need leads. You need something actually different. We’re kind of like the Wolf from Pulp Fiction in business and marketing. When it really hits the fan, we’re the friend you want to phone.
                    .col-lg-12.d-none.d-lg-block
                        hr.divider.ml-0(style="width: 60%")
                    .col-md-6.col-lg-12
                        // Blurb
                        article.blurb.mr-xxl-1
                            .blurb-header
                                .blurb-embed
                                    img(src="media/img/icon/hithead.svg" width="100")
                                .blurb-title.h5 You’re tired of the games.
                            .blurb-text
                                | So are we, so we stopped playing them. We are good people who do what we love for good people that need what we do.
// Features