section.section.section-lg
    .container
        .d-md-flex.align-items-md-center
            h2 Our Strategic Model
            p.biggest.mt-md-0.ml-md-4.border-md-left.pl-md-3
                | There is a great deal of buzz and cliché cycling around the word strategy. In fact , we find the majority of consultants, agencies, and business people in general abuse the term strategy by applying it to tactical plans, Gantt charts, and roadmaps. Since so much of the market has changed the definition of strategy, we thought it imperative to share our definition of the term , which is the same one that's been around for hundreds of years... the right one. In the simplest terms, strategy is how you get from where you are to where you want to be.
        .row.row-lg-0
            .col-md-7.col-lg-7
                .offset-xl.blurb-hovered
                    .row
                        .col-md-4.col-lg-4
                            .blurb-hovered-item
                                // Blurb boxed
                                article.blurb.blurb-boxed
                                    .media.media-sm.flex-lg-column.flex-xxl-row
                                        .media-left
                                            .blurb-embed
                                                span.icon.icon-primary.icon-round.icon-lg.icon-style-3
                                                    img.mdi-custom(src="media/img/icon/vision.svg")
                                        .media-body
                                            .blurb-title.h5 Context
                                            .blurb-text  Vision + Mission + History + Constraints + Root Roadblocks
                        .col-md-4.col-lg-4
                            .blurb-hovered-item
                                // Blurb boxed
                                article.blurb.blurb-boxed
                                    .media.media-sm.flex-lg-column.flex-xxl-row
                                        .media-left
                                            .blurb-embed
                                                span.icon.icon-primary.icon-round.icon-lg.icon-style-3
                                                    img.mdi-custom(src="media/img/icon/research.svg")
                                        .media-body
                                            .blurb-title.h5 Market
                                            .blurb-text Research Surveys + Industry Analysis + Buyer Base + Personas
                        .col-md-4.col-lg-4
                            .blurb-hovered-item
                                // Blurb boxed
                                article.blurb.blurb-boxed
                                    .media.media-sm.flex-lg-column.flex-xxl-row
                                        .media-left
                                            .blurb-embed
                                                span.icon.icon-primary.icon-round.icon-lg.icon-style-3
                                                    img.mdi-custom(src="media/img/icon/voice.svg")
                                        .media-body
                                            .blurb-title.h5 Brand
                                            .blurb-text Visuals + Voice + Perception.
                    .row.row-30.row-lg-0
                        .col-md-4.col-lg-4
                            .blurb-hovered-item
                                // Blurb boxed
                                article.blurb.blurb-boxed
                                    .media.media-sm.flex-lg-column.flex-xxl-row
                                        .media-left
                                            .blurb-embed
                                                span.icon.icon-primary.icon-round.icon-lg.icon-style-3
                                                    img.mdi-custom(src="media/img/icon/website.svg")
                                        .media-body
                                            .blurb-title.h5 Tech Stack
                                            .blurb-text Tracking & CRM + Website + Martech
                        .col-md-4.col-lg-4
                            .blurb-hovered-item
                                // Blurb boxed
                                article.blurb.blurb-boxed
                                    .media.media-sm.flex-lg-column.flex-xxl-row
                                        .media-left
                                            .blurb-embed
                                                span.icon.icon-primary.icon-round.icon-lg.icon-style-3
                                                    img.mdi-custom(src="media/img/icon/growth.svg")
                                        .media-body
                                            .blurb-title.h5 Growth
                                            .blurb-text Digital Campaigns + Traditional Campaigns
                        .col-md-4.col-lg-4
                            .blurb-hovered-item
                                // Blurb boxed
                                article.blurb.blurb-boxed
                                    .media.media-sm.flex-lg-column.flex-xxl-row
                                        .media-left
                                            .blurb-embed
                                                span.icon.icon-primary.icon-round.icon-lg.icon-style-3
                                                    img.mdi-custom(src="media/img/icon/roadmap.svg")
                                        .media-body
                                            .blurb-title.h5 Action
                                            .blurb-text Demolition + Roadmap
            .col-md-5.col-lg-5(style="background: url(media/img/binoculars.png); background-size: 50%; background-repeat: no-repeat; border-radius: 40px; background-position-x: 130%; background-position-y: 100%; background-attachment: fixed;}")
// Our partners