section#pricing.section.section-lg
    .container
        .row.justify-content-center
            .col-xxl-10
                .group-20.d-sm-flex.align-items-sm-end.justify-content-sm-between.text-center
                    h2 Pricing
                    p We don't want to have a pricing section that has no pricing on it, just a big old "Contact Us" button.  But, we don't do "pre-packaged" solutions.
                    | However, you want to know if we are playing the same sport as you. And so do we. If we are out playing Pee-Wee Football and you're training for the SuperBowl, chances are we are not a good fit. Out of respect for your time, we present the following price ranges, with the understanding that there can be variations between projects and chances are we can find a solution that works for your budget.
                #pricing-group.pricing-group.offset-md
                    // Owl Carousel
                    .owl-carousel.owl-style-1.owl-item-end(data-owl='{"loop":false,"mouseDrag":false,"dots":true,"autoplay":false,"responsive":{"768":{"items":2},"992":{"items":3},"1600":{"items":3,"margin":100}}}')
                        // Pricing modern
                        article.pricing-modern.pricing-success.block.block-sm.block-center(data-animate='{"class":"fadeInUp"}')
                            .pricing-modern-subtitle our namesake and flagship
                            .pricing-modern-divider
                                hr.divider
                            .pricing-modern-title.h4 Strategy
                            .pricing-modern-text
                                | <ul><li>36-month roadmap</li><li>personas and journeys</li><li>3+ killer campaigns</li><li>brand pyramid</li><li>execution blueprint</li><li>sales, marketing, brand, and business deep-dive</li><li>industry opportunities audit</li></ul>
                            .pricing-modern-details
                                span.pricing-modern-price.h4
                                    span.pricing-month $14
                                    span.pricing-year $159
                                span.pricing-modern-period.h5
                                    | / 
                                    span.pricing-month month
                                    span.pricing-year year
                            .pricing-modern-btn
                                button.btn.btn-sm(data-modal-trigger='{"target":"#modal"}') Select Plan
                        // Pricing modern
                        article.pricing-modern.pricing-secondary.block.block-sm.block-center(data-animate='{"class":"fadeInUp"}')
                            .pricing-modern-subtitle Personal
                            .pricing-modern-divider
                                hr.divider
                            .pricing-modern-title.h4 Standard
                            .pricing-modern-text
                                | Ut enim ad minim veniam, quis nostrud sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            .pricing-modern-details
                                span.pricing-modern-price.h4
                                    span.pricing-month $30
                                    span.pricing-year $350
                                span.pricing-modern-period.h5
                                    | / 
                                    span.pricing-month month
                                    span.pricing-year year
                            .pricing-modern-btn
                                button.btn.btn-sm(data-modal-trigger='{"target":"#modal"}') Select Plan
                        // Pricing modern
                        article.pricing-modern.pricing-primary.block.block-sm.block-center(data-animate='{"class":"fadeInUp"}')
                            .pricing-modern-subtitle For team
                            .pricing-modern-divider
                                hr.divider
                            .pricing-modern-title.h4 Premium
                            .pricing-modern-text
                                | Ut enim ad minim veniam, quis nostrud sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            .pricing-modern-details
                                span.pricing-modern-price.h4
                                    span.pricing-month $50
                                    span.pricing-year $550
                                span.pricing-modern-period.h5
                                    | / 
                                    span.pricing-month month
                                    span.pricing-year year
                            .pricing-modern-btn
                                button.btn.btn-sm(data-modal-trigger='{"target":"#modal"}') Select Plan
