section#features.section.section-lg
    .container
        .row.row-30.align-items-center
            .col-xl-4.col-xxl-6.d-none.d-xl-block(style="background: url(media/img/renderings/armsup.png); background-size: 50%; border-radius: 40px; height:600px; background-repeat: no-repeat; background-attachment: fixed;")
            .col-lg-10.col-xl-8.col-xxl-6.pb-xxl-2
                .d-sm-flex.align-items-sm-center(data-animate='{"class":"fadeInLeft"}')
                    h2 Services
                    p.mt-sm-0.ml-sm-4.border-sm-left.pl-sm-3
                        | While most of our clients utilize us, at first, for a strategy and then for CMO-on-demand or creative problem-solving services, we are fairly flexible in the way we setup relationships.  Basically, if there is a mutual spark, we'll find a way to make it work.
                .offset-md.text-center
                    .swiper-modern-wrap
                        .swiper-container.swiper-modern(data-swiper='{"loop":false,"autoplay":false,"simulateTouch":false,"slidesPerView":1,"spaceBetween":30,"scrollbar":{"draggable":true},"breakpoints":{"480":{"slidesPerView":2},"768":{"slidesPerView":3}}}')
                            .swiper-wrapper
                                .swiper-slide
                                    // Blurb boxed
                                    article.blurb.blurb-boxed
                                        .media.media-sm.flex-column
                                            .media-left
                                                .blurb-embed
                                                    span.icon.icon-primary.icon-round.icon-lg.icon-style-3
                                                        img.mdi-custom(src="media/img/icon/chess.svg")
                                            .media-body
                                                .blurb-title.h5 Strategy
                                                .blurb-text
                                                    | Know how parents always say, "There should be a manual on parenting"... Kind of like that.
                                .swiper-slide
                                    // Blurb boxed
                                    article.blurb.blurb-boxed
                                        .media.media-sm.flex-column
                                            .media-left
                                                .blurb-embed
                                                    span.icon.icon-primary.icon-round.icon-lg.icon-style-3
                                                        img.mdi-custom(src="media/img/icon/crown.svg")
                                            .media-body
                                                .blurb-title.h5 Brand
                                                .blurb-text Your brand is your foundation and a weak foundation makes for a shaky house.
                                .swiper-slide
                                    // Blurb boxed
                                    article.blurb.blurb-boxed
                                        .media.media-sm.flex-column
                                            .media-left
                                                .blurb-embed
                                                    span.icon.icon-primary.icon-round.icon-lg.icon-style-3
                                                        img.mdi-custom(src="media/img/icon/computerkey.svg")
                                            .media-body
                                                .blurb-title.h5 Digital & Tech
                                                .blurb-text The base of your growth efforts and epicenter of your business effectiveness.
                                .swiper-slide
                                    // Blurb boxed
                                    article.blurb.blurb-boxed
                                        .media.media-sm.flex-column
                                            .media-left
                                                .blurb-embed
                                                    span.icon.icon-primary.icon-round.icon-lg.icon-style-3
                                                        img.mdi-custom(src="media/img/icon/content.svg")
                                            .media-body
                                                .blurb-title.h5 Content
                                                .blurb-text Your content needs to grab the attention of your target market and hold it.
                                .swiper-slide
                                    // Blurb boxed
                                    article.blurb.blurb-boxed
                                        .media.media-sm.flex-column
                                            .media-left
                                                .blurb-embed
                                                    span.icon.icon-primary.icon-round.icon-lg.icon-style-3
                                                        img.mdi-custom(src="media/img/icon/website.svg")
                                            .media-body
                                                .blurb-title.h5 Websites
                                                .blurb-text The base of your growth efforts and epicenter of your business effectiveness.
                                .swiper-slide
                                    // Blurb boxed
                                    article.blurb.blurb-boxed
                                        .media.media-sm.flex-column
                                            .media-left
                                                .blurb-embed
                                                    span.icon.icon-primary.icon-round.icon-lg.icon-style-3
                                                        img.mdi-custom(src="media/img/icon/chess.svg")
                                            .media-body
                                                .blurb-title.h5 Websites
                                                .blurb-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
                                .swiper-slide
                                    // Blurb boxed
                                    article.blurb.blurb-boxed
                                        .media.media-sm.flex-column
                                            .media-left
                                                .blurb-embed
                                                    span.icon.icon-primary.icon-round.icon-lg.icon-style-3
                                                        img.mdi-custom(src="media/img/icon/chess.svg")
                                            .media-body
                                                .blurb-title.h5 Friendly Support
                                                .blurb-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
                                .swiper-slide
                                    // Blurb boxed
                                    article.blurb.blurb-boxed
                                        .media.media-sm.flex-column
                                            .media-left
                                                .blurb-embed
                                                    span.icon.icon-primary.icon-round.icon-lg.icon-style-3
                                                        img.mdi-custom(src="media/img/icon/chess.svg")
                                            .media-body
                                                .blurb-title.h5 Free Update
                                                .blurb-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
                                .swiper-slide
                                    // Blurb boxed
                                    article.blurb.blurb-boxed
                                        .media.media-sm.flex-column
                                            .media-left
                                                .blurb-embed
                                                    span.icon.icon-primary.icon-round.icon-lg.icon-style-3
                                                        img.mdi-custom(src="media/img/icon/chess.svg")
                                            .media-body
                                                .blurb-title.h5 Easy Customize
                                                .blurb-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
                                .swiper-slide
                                    // Blurb boxed
                                    article.blurb.blurb-boxed
                                        .media.media-sm.flex-column
                                            .media-left
                                                .blurb-embed
                                                    span.icon.icon-primary.icon-round.icon-lg.icon-style-3
                                                        img.mdi-custom(src="media/img/icon/chess.svg")
                                            .media-body
                                                .blurb-title.h5 Different Layouts
                                                .blurb-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
                                .swiper-slide
                                    // Blurb boxed
                                    article.blurb.blurb-boxed
                                        .media.media-sm.flex-column
                                            .media-left
                                                .blurb-embed
                                                    span.icon.icon-primary.icon-round.icon-lg.icon-style-3
                                                        img.mdi-custom(src="media/img/icon/chess.svg")
                                            .media-body
                                                .blurb-title.h5 Friendly Support
                                                .blurb-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
                                .swiper-slide
                                    // Blurb boxed
                                    article.blurb.blurb-boxed
                                        .media.media-sm.flex-column
                                            .media-left
                                                .blurb-embed
                                                    span.icon.icon-primary.icon-round.icon-lg.icon-style-3
                                                        img.mdi-custom(src="media/img/icon/chess.svg")
                                            .media-body
                                                .blurb-title.h5 Free Update
                                                .blurb-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
                                .swiper-slide
                                    // Blurb boxed
                                    article.blurb.blurb-boxed
                                        .media.media-sm.flex-column
                                            .media-left
                                                .blurb-embed
                                                    span.icon.icon-primary.icon-round.icon-lg.icon-style-3
                                                        img.mdi-custom(src="media/img/icon/chess.svg")
                                            .media-body
                                                .blurb-title.h5 Easy Customize
                                                .blurb-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
                                .swiper-slide
                                    // Blurb boxed
                                    article.blurb.blurb-boxed
                                        .media.media-sm.flex-column
                                            .media-left
                                                .blurb-embed
                                                    span.icon.icon-round.icon-md.icon-primary.icon-style-3
                                            .media-body
                                                .blurb-title.h5 Different Layouts
                                                .blurb-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
                                .swiper-slide
                                    // Blurb boxed
                                    article.blurb.blurb-boxed
                                        .media.media-sm.flex-column
                                            .media-left
                                                .blurb-embed
                                                    span.icon.icon-round.icon-md.icon-success.icon-style-3
                                            .media-body
                                                .blurb-title.h5 Friendly Support
                                                .blurb-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
                                .swiper-slide
                                    // Blurb boxed
                                    article.blurb.blurb-boxed
                                        .media.media-sm.flex-column
                                            .media-left
                                                .blurb-embed
                                                    span.icon.icon-round.icon-md.icon-primary.icon-style-3
                                            .media-body
                                                .blurb-title.h5 Free Update
                                                .blurb-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
                            .swiper-scrollbar