// What People Say
section.section.section-lg
    .container
        h2.text-center What People Say
        .row.row-offset-lg.justify-content-center
            .col-lg-10.col-xl-9.col-xxl-8
                .owl-carousel.owl-visible(data-owl='{"dots":true,"margin":60,"responsive":{"1200":{"margin":110},"1600":{"margin":160}}}')
                    // Quote creative
                    article.quote.quote-creative
                        .quote-body
                            .quote-author-name.h4 Dr. Sandy F., SVP
                            .quote-time.bigger
                                time(datetime="2020") Jan 10, 2020
                            .quote-text.bigger
                                | For eight years, we haven't been able to boil down our offering and make it palatable.  In a highly complex industry and business, you did just that.
                            .quote-author-company from a B2B and B2G biotechnolgy and research institute
                    // Quote creative
                    article.quote.quote-creative
                        .quote-body
                            .quote-author-name.h4 Scott Z., CEO
                            .quote-time.bigger
                                time(datetime="2020") Jan 10, 2020
                            .quote-text.bigger
                                | In an insanely short time, you conceptualized and delivered upon an idea 100x better than we had brought to the table.  You even saw opportunity we had entirely overlooked.
                            .quote-author-company from a B2B and business-to-government fulfillment group
                    // Quote creative
                    article.quote.quote-creative
                        .quote-body
                            .quote-author-name.h4 Dr. Jay Stevens, CEO
                            .quote-time.bigger
                                time(datetime="2020") Jan 10, 2020
                            .quote-text.bigger Your strategy put meat and merit on the bone! I am so pumped full of ideas.
                            .quote-author-company
