section.section.section-lg
    .container
        h2.text-center Our Partners
        .row.row-offset-xl.no-gutters.partner-group
            .col-4.col-sm-3.partner-group-item
                a.partner(href="#" style="padding-top: 50px;")
                    img.partner-image.grayscale(src="media/img/clientlogos/epic.webp" alt="")
            .col-4.col-sm-3.partner-group-item
                a.partner(href="#")
                    img.partner-image.grayscale(src="media/img/clientlogos/freshworks.png" alt="")
            .col-4.col-sm-3.partner-group-item
                a.partner(href="#")
                    img.partner-image.grayscale(src="media/img/clientlogos/baskinrobbins.png" alt="")
            .col-4.col-sm-3.partner-group-item
                a.partner(href="#")
                    img.partner-image.grayscale(src="media/img/clientlogos/valpaklogo.png" alt="")
            .col-4.col-sm-3.partner-group-item
                a.partner(href="#")
                    img.partner-image.grayscale(src="media/img/clientlogos/robo-negotiator.png" alt="")
            .col-4.col-sm-3.partner-group-item
                a.partner(href="#")
                    img.partner-image.grayscale(src="media/img/clientlogos/IFA-Logo.png" alt="")
            .col-4.col-sm-3.partner-group-item
                a.partner(href="#")
                    img.partner-image.grayscale(src="media/img/clientlogos/cuemby.png" alt="")
            .col-4.col-sm-3.partner-group-item
                a.partner(href="#")
                    img.partner-image.grayscale(src="media/img/clientlogos/unliver.webp" alt="")